<div id = "prf_blck">
<div id = "prf_h2">
<h2>Profile</h2>
</div>
<div id = "my_profiles">
<% if @user2.id == @user.id %>
<p id = "para">This is your personal information and it will be visible to all. you can change it using EDIT option</p>
<% end %>
</div>
<div id ="option_bar">
&nbsp; &nbsp; &nbsp;
<a href = <%= url_for(:action => 'show', :controller => 'profiles') %> > show profile </a> &nbsp; &nbsp; &nbsp;
<% if @user2.id == @user.id %>
<a href = <%= url_for(:action => 'edit', :controller => 'profiles') %> > edit profile</a>
&nbsp; &nbsp; &nbsp;
<a href = <%= url_for(:action => 'show', :controller => 'interests') %> > edit interests </a> &nbsp; &nbsp; &nbsp;
<a href = <%= url_for(:action => 'show', :controller => 'skills') %> > edit skills</a>&nbsp; &nbsp; &nbsp;
<% end %>
<% if @user2.id != @user.id %>
<a href = <%= url_for(:action => 'connect', :controller => 'messages', :id => @user2.id ) %> > Connect with <%= @user2.fname %> </a><br/>
<% end %>
</div>
<div id = "prf_cnt">
</br></br></br>
<table>
<tr>
<td class="first">Name</td><td class="two"><%= @user2.fname %> &nbsp <%= @user2.lname%></td>
</tr>
<tr>
<td  class="first">College</td><td class="two"><%= @user2.college %></td>
</tr>
<tr>
<td  class="first">Branch</td><td class="two"><%= @user2.branch %></td>
</tr>
<tr>
<td  class="first">Current Year</td><td class="two"><%= @user2.year %></td>
</tr>
<tr>
<td  class="first" >Email</td><td class="two"><%= @user2.email %></td>
</tr>
<tr>
<td  class="first" >Interests</td>
<td class="two">
<ul>
<% @user2.interests.each do |i| %>
<li> <%= i.name %>&nbsp; &nbsp; &nbsp;
<% if @user2.id == @user.id %>
<a href = <%= url_for(:action => 'delete', :controller => 'interests', :id=> i.id ) %> > delete </a>
<% end %>
</li>
<% end %>
</ul>
</td>
</tr>
<tr>
<td  class="first" >Skills</td>
<td class="two">
<ul>
<% @user2.skills.each do |s| %>
<li> <%= s.name %>&nbsp; &nbsp; &nbsp;
<% if @user2.id == @user.id %>
<a href = <%= url_for(:action => 'delete', :controller => 'skills', :id=> s.id ) %> > delete </a>
<% end %>
</li>
<% end %>
</ul>
</td>
</tr>
</table>
</div>
</div>

